{% set pages = (levels / lpp)|round(0, 'ceil') %}
{% if pages > 1 %}
    <div style="font-size: 13px; font-weight: bold; color: #444; text-align: right; padding: 5px 0px 5px 0px;">
        Result Page: &nbsp;
        {% if current != 1 %}
            <a href="{{ url | format(current - 1) }}">&lt;&nbsp;Previous</a>&nbsp;
        {% endif %}
        {% for page in 1..pages %}
            {% if page != current %}
                <span style="background-color: #CCC; padding: 1px 4px 1px 4px; border: 1px solid #999; margin-right: 5px;"><a
                            href="{{ url | format(page) }}">{{ page }}</a></span>
            {% else %}
                <span style="color: #444; background-color: #FFFFFF; padding: 1px 4px 1px 4px; border: 1px solid #999; margin-right: 5px;">
					{{ page }}</span>
            {% endif %}
        {% endfor %}
        {% if current != pages %}
            <a href="{{ url | format(current + 1) }}">Next&nbsp;&gt;</a>&nbsp;
        {% endif %}
    </div>
{% endif %}