{% extends "_layout.twig" %}

{% block title %}Admin panel{% endblock %}

	{% block content %}
        <div class="tableSubTitle">Admin panel</div>
        <table width="100%">
            <tr valign="top">
                <td width="60%">
                    <div class="mailMessageArea">
                        <div style="font-size: 16px; font-weight: bold; color:#003366; margin-bottom: 5px;">
                            Latest videos
                        </div>
                            {% for video in videos %}
                                <table width="100%">
                                    <tr>
                                        <td width="25%">
                                            <img src="get_still.php?still_id=1&amp;video_id={{ video.video_id }}" width="30">
                                            <img src="get_still.php?still_id=2&amp;video_id={{ video.video_id }}" width="30">
                                            <img src="get_still.php?still_id=3&amp;video_id={{ video.video_id }}" width="30">
                                        </td>
                                        <td width="75%">
                                            <a href="watch.php?v={{ video.video_id }}">{{ video.title }}</a>
                                            <br>{{ video.time | relative_time }} by  <a href="profile.php?user={{ video.u_name }}">{{ video.u_name }}</a>
                                        </td>
                                    </tr>
                                </table>
                            {% endfor %}
                    </div>
                    <div class="mailMessageArea">
                        <div style="font-size: 16px; font-weight: bold; color:#003366; margin-bottom: 5px;">
                            Users
                        </div>
                            <table width="100%">
                                <tr valign="top">
                                    <td width="50%">
                                        <div class="mailMessageArea">
                                            <div class="highlight">Latest registered</div>
                                            {% for user in latest_registered_users %}
                                                <a href="profile.php?user={{ user.name }}">{{ user.name }}</a>
                                                at {{ user.joined | date() }}
                                                <br>
                                            {% endfor %}
                                        </div>
                                    </td>
                                    <td width="50%">
                                        <div class="mailMessageArea">
                                            <div class="highlight">Last signed in</div>
                                            {% for user in latest_seen_users %}
                                                <a href="profile.php?user={{ user.name }}">{{ user.name }}</a>
                                                at {{ user.lastview | relative_time }}
                                                <br>
                                            {% endfor %}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    <div class="mailMessageArea">
                        <div style="font-size: 16px; font-weight: bold; color:#003366; margin-bottom: 5px;">
                            Comments
                        </div>
                            {% for comment in comments %}
                                <div class="commentsEntry">"{{ comment.comment }}"<br> - <a
                                            href="profile.php?user={{ comment.u_name }}">{{ comment.u_name }}</a> on <a href="/watch.php?v={{ comment.id }}">{{ comment.title }}</a> //
                                   ({{ comment.date | relative_time(false) }}) | <a style="color: red;" href="/admin.php?action=delete_comment&id={{ comment.comment_id }}">Delete</a>
                                </div>
                            {% endfor %}
                    </div>
                </td>
                <td width="40%">
                    <div class="mailMessageArea">
                        <div style="font-size: 16px; font-weight: bold; color:#003366; margin-bottom: 5px;">
                            Instance numbers
                        </div>
                        <table width="100%">
                            {% for thing in things_to_count %}
                                <tr>
                                    <td width="40%">
                                        {{ thing | title }}
                                    </td>
                                    <td width="60%">
                                        {{ count[thing] }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="mailMessageArea">
                        <div style="font-size: 16px; font-weight: bold; color:#003366; margin-bottom: 5px;">
                            Server information
                        </div>
                        <table width="100%">
                            {% for shit in serverStats %}
                            <tr>
                                <td width="40%">
                                    {{ shit.title }}
                                </td>
                                <td width="60%">
                                    {{ shit.info }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    {% endblock %}
