{% extends "_layout.twig" %}
{% block content %}
    {% if acceptedRequest %}
        <div class="success">
            Friend invite accepted.
        </div>
    {% endif %}
    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#CCCCCC">
        <tbody>
        <tr>
            <td><img src="/img/box_login_tl.gif" width="5" height="5"></td>
            <td width="100%"><img src="/img/pixel.gif" width="1" height="5"></td>
            <td><img src="/img/box_login_tr.gif" width="5" height="5"></td>
        </tr>
        <tr>
            <td><img src="/img/pixel.gif" width="5" height="1"></td>
            <td>
                <div class="moduleTitleBar">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                        <tr valign="top">
                            <td>
                                <div class="moduleTitle">Friend Invites</div>
                            </td>
                            <td align="right">
                                <div style="color: #444; margin-right: 5px;">
                                    <b>1-10</b> of <b>{{ count }}</b>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                {% for friendrequest in inbox %}
                    <div class="moduleEntry">
                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                            <tr valign="top">
                                <td>
                                    <table cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td align="center"><a href="profile.php?user={{ friendrequest.u_name }}"><img
                                                            src="get_still.php?video_id={{ friendrequest.latest_video.video_id }}&amp;still_id=2"
                                                            class="moduleEntryThumb" width="100" height="75"></a>
                                                <div class="moduleFeaturedTitle"><a href="profile.php?user={{ friendrequest.u_name }}">{{ friendrequest.u_name }}</a></div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td width="100%">
                                    <div class="moduleEntryTitle">Invitation from {{ friendrequest.u_name }}</div>
                                    <div class="mailMessageArea">
                                        {{ friendrequest.u_name }} has sent an invitation to become friends with you! Do you accept?
                                    </div>
                                    <div class="moduleEntryDetails">Sent: {{ friendrequest.time|date("F j, Y") }} by <a
                                                href="profile.php?user={{ friendrequest.u_name }}">{{ friendrequest.u_name }}</a>
                                    </div>
                                    <form method="post"
                                          action="friend_accept_user.php">
					<input type="hidden" id="friend_id" name="friend_id" value="{{ friendrequest.u_id }}">
                                        <input type="submit" value="Accept">
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {% else %}
                {% endfor %}
                <!-- begin paging -->
				{{ pagination(count, glob_lpp, "friend_accept_user.php?page=%s", page) }}
                <!-- end paging -->
            </td>
            <td><img src="/img/pixel.gif" width="5" height="1"></td>
        </tr>
        <tr>
            <td><img src="/img/box_login_bl.gif" width="5" height="5"></td>
            <td><img src="/img/pixel.gif" width="1" height="5"></td>
            <td><img src="/img/box_login_br.gif" width="5" height="5"></td>
        </tr>
        </tbody>
    </table>
{% endblock %}
