{% extends "_layout.twig" %}
{% block title %}Settings{% endblock %}
{% block content %}
    <form action="my_profile.php" method="post">
    <div class="formTitle">My Profile</div>
    <table class="dataEntryTableSmall">
        <tr>
            <td valign="middle" align="right" style="color: gray;">
                <b>Profile information</b>
            </td>
            <td style="color: gray;">
                <p>These are displayed on your channel's profile.</p>
            </td>
        </tr>
        <tr>
            <td valign="middle" align="right">
                <span style="font-size: 14px;font-weight:bold;">Display name</span>
            </td>
            <td class="b"><input type="text" name="title" size="45" maxlength="256" style="width:295px"
                                 value="{{ userdata.title }}"></td>
        </tr>
        <tr>
            <td valign="middle" align="right">
         <span style="font-size: 14px;font-weight:bold;">
         About
         </span>
            </td>
            <td class="b"><textarea name="about" rows="5" cols="80" wrap="virtual"
                                    style="width:295px;overflow:hidden;resize:none">{{ userdata.about }}</textarea></td>
        </tr>
        <tr>
            <td valign="middle" align="right">
         <span style="font-size: 14px;font-weight:bold;">
         Location
         </span>
            </td>
            <td class="b"><input type="text" name="location" size="45" maxlength="128" style="width:295px"
                                 value="{{ userdata.location }}"></td>
        </tr>
        <tr>
            <td valign="middle" align="right">
                <span style="font-size: 14px;font-weight:bold;">Birthday</span>
            </td>
            <td class="b">
                <input type="number" name="month" min="01" max="12" step="1" value="{{ birthday.1 }}"
                       placeholder="Month"/>
                <input type="number" name="day" min="01" max="31" step="1" value="{{ birthday.2 }}" placeholder="Day"/>
                <input type="number" name="year" min="1900" max="{{ miniyear }}" step="1" value="{{ birthday.0 }}"
                       placeholder="Year"/>
            </td>
        </tr>
        <tr>
            <td valign="middle" align="right">
                <span style="font-size: 14px;font-weight:bold;">Relationship status</span>
            </td>
            <td class="b">
                <select name="relationship" id="relationship">
                    <option value="none">Private / Hide</option>
                    <option value="single">Single</option>
                    <option value="taken">Taken</option>
                    <option value="married">Married</option>
                </select>
            </td>
        </tr>
        <tr>
            <td valign="middle" align="right">
                <span style="font-size: 14px;font-weight:bold;">Gender</span>
            </td>
            <td class="b">
                <select name="gender" id="gender">
                    <option value="private">Private</option>
                    <option value="unknown">Unknown</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </td>
        </tr>
        <tr>
            <td valign="middle" align="right" style="color: gray;">
                <b>Site-related options</b>
            </td>
            <td style="color: gray;">
                <p>These are local options used by the website.</p>
            </td>
        </tr>
        <tr>
            <td valign="middle" align="right">
                <span style="font-size: 14px;font-weight:bold;">Flash video player</span>
            </td>
            </span>
            <td class="b">
                <input type="checkbox" id="flash" name="flash" value="true">
            </td>
        </tr>
        <tr>
            <td valign="middle" align="right">
                <span style="font-size: 14px;font-weight:bold;">Timezone</span>
            </td>
            <td class="b">
                <select name="timezone">
                    {% for timezone in timezones %}
                        <option value="{{ timezone }}" {% if userdata.timezone == timezone %}selected{% endif %}
                                style="width:295px">{{ timezone }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td valign="middle" align="right">
                <span style="font-size: 14px;font-weight:bold;">Website theme</span>
            </td>
            <td class="b">
                <select name="theme">
                    {% for theme in themes %}
                        <option value="{{ theme.id }}"
                                style="width:295px">{{ theme.name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    </table>
    <input type="hidden" name="magic" value="please change my settings :)">
    <input type="submit" name="action" value="Save Changes">
{% endblock %}