{% extends "_layout.twig" %}

{% block title %}Browse{% endblock %}

	{% block content %}
        <div class="pageTitle">Videos</div>
        <div class="pageTable">

            <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#CCCCCC">
                <tbody>
                <tr>
                    <td><img src="img/box_login_tl.gif" width="5" height="5"></td>
                    <td width="100%"><img src="img/pixel.gif" width="1" height="5"></td>
                    <td><img src="img/box_login_tr.gif" width="5" height="5"></td>
                </tr>
                <tr>
                    <td><img src="img/pixel.gif" width="5" height="1"></td>
                    <td>
                        <div class="moduleTitleBar">
                            <div class="moduleTitle">Latest Videos</div>
                        </div>

                        <div class="moduleFeatured">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                <tr valign="top">
                                    {% for video in videos %}
                                        <td width="20%" align="center"><a href="watch.php?v={{ video.video_id }}"><img
                                                        src="get_still.php?still_id=2&amp;video_id={{ video.video_id }}"
                                                        class="moduleFeaturedThumb" width="120" height="90"></a>
                                            <div class="moduleFeaturedTitle"><a
                                                        href="watch.php?v={{ video.video_id }}">{{ video.title }}</a>
                                            </div>
                                            <div class="moduleFeaturedDetails">Added: {{ video.time|date("F j, Y") }}
                                                <br>by <a
                                                        href="profile.php?user={{ video.u_name }}">{{ video.u_name }}</a>
                                                <!-- (<a href="profile.php?user={{ video.u_name }}">10</a>) --></div>
                                            <div class="moduleFeaturedDetails">Views: {{ video.views }} |
                                                Comments: {{ video.comments }}</div>
                                        </td>
                                    {% else %}
                                        <p>There are no videos.</p>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </td>
                    <td><img src="img/pixel.gif" width="5" height="1"></td>
                </tr>
                <tr>
                    <td><img src="img/box_login_bl.gif" width="5" height="5"></td>
                    <td><img src="img/pixel.gif" width="1" height="5"></td>
                    <td><img src="img/box_login_br.gif" width="5" height="5"></td>
                </tr>
                </tbody>
            </table>

            <br><br>
            <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#CCCCCC">
                <tbody>
                <tr>
                    <td><img src="img/box_login_tl.gif" width="5" height="5"></td>
                    <td width="100%"><img src="img/pixel.gif" width="1" height="5"></td>
                    <td><img src="img/box_login_tr.gif" width="5" height="5"></td>
                </tr>
                <tr>
                    <td><img src="img/pixel.gif" width="5" height="1"></td>
                    <td>
                        <div class="moduleTitleBar">
                            <div class="moduleTitle">Most Popular Videos</div>
                        </div>

                        <div class="moduleFeatured">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                <tr valign="top">
                                    {% for video in mostViewed %}
                                        <td width="20%" align="center"><a href="watch.php?v={{ video.video_id }}"><img
                                                        src="get_still.php?still_id=2&amp;video_id={{ video.video_id }}"
                                                        class="moduleFeaturedThumb" width="120" height="90"></a>
                                            <div class="moduleFeaturedTitle"><a
                                                        href="watch.php?v={{ video.video_id }}">{{ video.title }}</a>
                                            </div>
                                            <div class="moduleFeaturedDetails">Added: {{ video.time|date("F j, Y") }}
                                                <br>by <a
                                                        href="profile.php?user={{ video.u_name }}">{{ video.u_name }}</a>
                                                <!-- (<a href="profile.php?user={{ video.u_name }}">10</a>) --></div>
                                            <div class="moduleFeaturedDetails">Views: {{ video.views }} |
                                                Comments: {{ video.comments }}</div>
                                        </td>
                                    {% else %}
                                        <p>There are no videos.</p>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </td>
                    <td><img src="img/pixel.gif" width="5" height="1"></td>
                </tr>
                <tr>
                    <td><img src="img/box_login_bl.gif" width="5" height="5"></td>
                    <td><img src="img/pixel.gif" width="1" height="5"></td>
                    <td><img src="img/box_login_br.gif" width="5" height="5"></td>
                </tr>
                </tbody>
            </table>

            <br><br>
            <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#CCCCCC">
                <tbody>
                <tr>
                    <td><img src="img/box_login_tl.gif" width="5" height="5"></td>
                    <td width="100%"><img src="img/pixel.gif" width="1" height="5"></td>
                    <td><img src="img/box_login_tr.gif" width="5" height="5"></td>
                </tr>
                <tr>
                    <td><img src="img/pixel.gif" width="5" height="1"></td>
                    <td>
                        <div class="moduleTitleBar">
                            <div class="moduleTitle">Most Discussed Videos</div>
                        </div>

                        <div class="moduleFeatured">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                <tr valign="top">
                                    {% for video in mostCommented %}
                                        <td width="20%" align="center"><a href="watch.php?v={{ video.video_id }}"><img
                                                        src="get_still.php?still_id=2&amp;video_id={{ video.video_id }}"
                                                        class="moduleFeaturedThumb" width="120" height="90"></a>
                                            <div class="moduleFeaturedTitle"><a
                                                        href="watch.php?v={{ video.video_id }}">{{ video.title }}</a>
                                            </div>
                                            <div class="moduleFeaturedDetails">Added: {{ video.time|date("F j, Y") }}
                                                <br>by <a
                                                        href="profile.php?user={{ video.u_name }}">{{ video.u_name }}</a>
                                                <!-- (<a href="profile.php?user={{ video.u_name }}">10</a>) --></div>
                                            <div class="moduleFeaturedDetails">Views: {{ video.views }} |
                                                Comments: {{ video.comments }}</div>
                                        </td>
                                    {% else %}
                                        <p>There are no videos.</p>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </td>
                    <td><img src="img/pixel.gif" width="5" height="1"></td>
                </tr>
                <tr>
                    <td><img src="img/box_login_bl.gif" width="5" height="5"></td>
                    <td><img src="img/pixel.gif" width="1" height="5"></td>
                    <td><img src="img/box_login_br.gif" width="5" height="5"></td>
                </tr>
                </tbody>
            </table>

            <br><br>
            <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#CCCCCC">
                <tbody>
                <tr>
                    <td><img src="img/box_login_tl.gif" width="5" height="5"></td>
                    <td width="100%"><img src="img/pixel.gif" width="1" height="5"></td>
                    <td><img src="img/box_login_tr.gif" width="5" height="5"></td>
                </tr>
                <tr>
                    <td><img src="img/pixel.gif" width="5" height="1"></td>
                    <td>
                        <div class="moduleTitleBar">
                            <div class="moduleTitle">Most Added to Favorites Videos</div>
                        </div>

                        <div class="moduleFeatured">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                <tr valign="top">
                                    {% for video in mostFavorited %}
                                        <td width="20%" align="center"><a href="watch.php?v={{ video.video_id }}"><img
                                                        src="get_still.php?still_id=2&amp;video_id={{ video.video_id }}"
                                                        class="moduleFeaturedThumb" width="120" height="90"></a>
                                            <div class="moduleFeaturedTitle"><a
                                                        href="watch.php?v={{ video.video_id }}">{{ video.title }}</a>
                                            </div>
                                            <div class="moduleFeaturedDetails">Added: {{ video.time|date("F j, Y") }}
                                                <br>by <a
                                                        href="profile.php?user={{ video.u_name }}">{{ video.u_name }}</a>
                                                <!-- (<a href="profile.php?user={{ video.u_name }}">10</a>) --></div>
                                            <div class="moduleFeaturedDetails">Views: {{ video.views }} |
                                                Comments: {{ video.comments }}</div>
                                        </td>
                                    {% else %}
                                        <p>There are no videos.</p>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </td>
                    <td><img src="img/pixel.gif" width="5" height="1"></td>
                </tr>
                <tr>
                    <td><img src="img/box_login_bl.gif" width="5" height="5"></td>
                    <td><img src="img/pixel.gif" width="1" height="5"></td>
                    <td><img src="img/box_login_br.gif" width="5" height="5"></td>
                </tr>
                </tbody>
            </table>


        </div>
    {% endblock %}
