{% extends "_layout.twig" %}

{% block title %}{{ query }}{% endblock %}

{% set le_url = 'my_videos.php?page=%s' %}

{% block content %}
    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#CCCCCC">
        <tbody>
        <tr>
            <td><img src="/img/box_login_tl.gif" width="5" height="5"></td>
            <td width="100%"><img src="/img/pixel.gif" width="1" height="5"></td>
            <td><img src="/img/box_login_tr.gif" width="5" height="5"></td>
        </tr>
        <tr>
            <td><img src="/img/pixel.gif" width="5" height="1"></td>
            <td>

                <div class="moduleTitleBar">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                        <tr valign="top">
                            <td>
                                <div class="moduleTitle">{{ title }}</div>
                            </td>
                            <td align="right">
                                <div style="font-weight: color: #444; margin-right: 5px;">
                                    <b>Showing {{ count }}</b>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                {% for video in videos %}
                    <div class="moduleEntry">
                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                            <tr valign="top">
                                <td>
                                    <table cellpadding="0" cellspacing="5" border="0" >
                                        <tbody>
                                        <tr>
                                            <td align="center"><a href="watch.php?v={{ video.video_id }}&amp;search={{ query }}"><img
                                                            src="get_still.php?video_id={{ video.video_id }}&amp;still_id=1"
                                                            class="moduleEntryThumb" width="100" height="75"></a></td>
                                        </tr>
                                        {% if page == "myVideos" %}
                                        <tr>
                                            <td align="center">
                                                <form method="GET" action="my_videos_edit.php">
                                                <input type="hidden" name="v" value="{{ video.video_id }}">
                                                <input class="button" type="submit" value="Edit Video">
                                                </form>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <button>Remove Video</button>
                                            </td>
                                        </tr>
                                        {% elseif page == "myFavorites" %}
                                            <tr>
                                                <td align="center">
                                                    <button onclick="window.open('remove_favorites.php?video_id={{ video.video_id }}');">Remove Video</button>
                                                </td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>

                                </td>
                                <td width="100%">
                                    <div class="moduleEntryTitle"><a
                                                href="watch.php?v={{ video.video_id }}&amp;search={{ query }}">{{ video.title }}</a>
                                    </div>
                                    <div class="moduleEntryDescription">{{ video.description }}</div>
                                    <div class="moduleEntryTags">
                                        Tags //
                                        {% if page == "myVideos" %}
                                            {% for tag in video.tags %}{{ tag.name }} {% endfor %}
                                        {% else %}
                                            {% for tag in video.tags %}
                                                <a href="results.php?search={{ tag.name }}">{{ tag.name }}</a> :
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="moduleEntryDetails">
                                        {% if page == "myVideos" %}
                                        Added: {{ video.time|date("F j, Y, h:i A") }}
                                        {% else %}
                                            Added: {{ video.time|date("F j, Y") }} by <a
                                                    href="profile.php?user={{ video.u_name }}">{{ video.u_name }}</a>
                                        {% endif %}
                                    </div>
                                    <div class="moduleEntryDetails">Views: {{ video.views }} |
                                        Comments: {{ video.comments }}</div>
                                    {% if page == "myVideos" %}
                                    <hr size="1">
                                    <div class="moduleEntryDetails">File: {{ video.originalfile }}</div>
                                    <div class="moduleEntryDetails">Broadcast: <b style="color: green">Public Video</b></div>
                                    {% if video.flags == '2' %}
                                        {% set status = "Processing/Failed" %}
                                    {% else %}
                                        {% set status = "Live!" %}
                                    {% endif %}
                                    <div class="moduleEntryDetails">Status: {{ status }}</div>
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                {% else %}
                    No videos!
                {% endfor %}
                {{ pagination(count, glob_lpp, le_url, page) }}
            </td>
            <td><img src="/img/pixel.gif" width="5" height="1"></td>
        </tr>
        <tr>
            <td><img src="/img/box_login_bl.gif" width="5" height="5"></td>
            <td><img src="/img/pixel.gif" width="1" height="5"></td>
            <td><img src="/img/box_login_br.gif" width="5" height="5"></td>
        </tr>
        </tbody>
    </table>
{% endblock %}
