{% extends "_layout.twig" %}
{% block script %}
    <script>
        function CheckLogin() {
            {% if log %}
            return true;
            {% else %}
            alert("You must be logged in to to perform this action!");
            return false;
            {% endif %}
        }

        function FavoritesHandler() {
            if (CheckLogin() == false)
                return false;

            {% if isFavorited %}
            alert("Video has been removed from Favorites!");
            {% else %}
            alert("Video has been added to Favorites!");
            {% endif %}
            return true;
        }

        function CommentHandler() {
            if (CheckLogin() == false)
                return false;

            var comment = document.comment_form.comment;
            var comment_button = document.comment_form.comment_button;

            if (comment.value.length == 0 || comment.value == null) {
                alert("You must enter a comment!");
                comment.focus();
                return false;
            }

            if (comment.value.length > 500) {
                alert("Your comment must be shorter than 500 characters!");
                comment.focus();
                return false;
            }

            comment_button.disabled = 'true';
            comment_button.value = 'Thanks for your comment!';

            return true;
        }
    </script>
    {% if isFlash == "true" %}
        <script type="text/javascript" src="/img/flashobject.js"></script>
    {% endif %}
{% endblock %}
{% block content %}
    <table width="795" align="center" cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr valign="top">
            <td width="515" style="padding-right: 15px;">
                <div class="tableSubTitle">{{ video.title }}</div>
                <div style="font-size: 13px; font-weight: bold; text-align:center;">
                    <a href="mailto:?subject={{ video.title }}&amp;body={{ page_url }}">Share</a>
                    // <a href="#comment">Comment</a>
                    // {% if isFavorited %}
                    <a href="remove_favorites.php?video_id={{ video.video_id }}"
                                              target="invisible" onclick="return FavoritesHandler();">Remove from
                            Favorites</a>{% else %}<a href="add_favorites.php?video_id={{ video.video_id }}"
                                                      target="invisible" onclick="return FavoritesHandler();">Add to
                            Favorites</a>{% endif %}
                    // <a href="outbox.php?user={{ video.u_name }}&amp;subject=Re: {{ video.title }}">Contact Me</a>
                </div>
                <div style="text-align: center; padding-bottom: 10px;">
                    <div id="flashcontent">
                        {% if isFlash == "true" %}
                            <div style="padding: 20px; font-size:14px; font-weight: bold;">
                                Hello, you either have JavaScript turned off or an old version of Macromedia's Flash
                                Player, <a href="http://www.macromedia.com/go/getflashplayer/">click here</a> to get the
                                latest flash player.
                            </div>
                        {% else %}
                        <link rel="stylesheet" href="/img/player.css">
                            <figure id="videoContainer" oncontextmenu="return false;">
                                <video id="video" controls preload="metadata" src="{{ video.videofile }}">
                                </video>
                                <img class="watermark" src="img/watermark.png">
                                <div id="video-controls" class="controls" data-state="hidden">
                                    <button id="playpause" type="button" data-state="play">Play/Pause</button>
                                    <div class="progress">
                                        <progress id="progress" value="0" min="0">
                                            <span id="progress-bar"></span>
                                        </progress>
                                    </div>
                                    <button id="mute" type="button" data-state="mute">Mute/Unmute</button>
                                </div>
                            </figure>
                            <script src="/img/player.js"></script>
                        {% endif %}
                    </div>
                </div>
                {% if isFlash == "true" %}
                    <script type="text/javascript">
                        // <![CDATA[

                        var fo = new FlashObject("player.swf?video_id={{ video.video_id }}&l={{ video.videolength }}", "player", "425", "350", 7, "#FFFFFF");
                        fo.write("flashcontent");

                        // ]]>
                    </script>
                {% endif %}
                <table width="425" cellpadding="0" cellspacing="0" border="0" align="center">
                    <tbody>
                    <tr>
                        <td>
                            <div class="watchDescription">
                                {{ video.description }}
                                <div class="watchAdded" style="margin-top: 5px;">
                                </div>
                            </div>
                            <div class="watchTags">Tags //
                                {% for tag in tags %}
                                    <a href="results.php?search={{ tag.name }}">{{ tag.name }}</a> :
                                {% else %}
                                    This video has no tags.
                                {% endfor %}
                            </div>
                            <div class="watchAdded">
                                Added: {{ video.time|date("F j, Y") }} by <a
                                        href="profile.php?user={{ video.u_name }}">{{ video.u_name }}</a> //
                                <a href="profile_videos.php?user={{ video.u_name }}">Videos</a> ({{ allVideos }}) | <a
                                        href="profile_favorites.php?user={{ video.u_name }}">Favorites</a>
                                ({{ favorites }})
                            </div>
                            <div class="watchDetails">
                                Views: {{ video.views }} | <a href="#comment">Comments</a>: {{ video.comments }}
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- watchTable -->
                <div style="padding: 15px 0px 10px 0px;">
                    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#E5ECF9">
                        <tbody>
                        <tr>
                            <td><img src="img/box_login_tl.gif" width="5" height="5"></td>
                            <td width="100%"><img src="img/pixel.gif" width="1" height="5"></td>
                            <td><img src="img/box_login_tr.gif" width="5" height="5"></td>
                        </tr>
                        <tr>
                            <form name="linkForm" id="linkForm"></form>
                            <td><img src="img/pixel.gif" width="5" height="1"></td>
                            <td align="center">
                                <div style="font-size: 11px; font-weight: bold; color: #CC6600; padding: 5px 0px 5px 0px;">
                                    Share this video! Copy and paste this link:
                                </div>
                                <div style="font-size: 11px; padding-bottom: 15px;">
                                    <input name="video_link" type="text"
                                           onclick="javascript:document.linkForm.video_link.focus();document.linkForm.video_link.select();"
                                           value="{{ page_url }}" size="50" readonly="true"
                                           style="font-size: 10px; text-align: center;">
                                </div>
                            </td>
                            <td><img src="img/pixel.gif" width="5" height="1"></td>
                        </tr>
                        <tr>
                            <td><img src="img/box_login_bl.gif" width="5" height="5"></td>
                            <td><img src="img/pixel.gif" width="1" height="5"></td>
                            <td><img src="img/box_login_br.gif" width="5" height="5"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <a name="comment"></a>
                <div style="padding-bottom: 5px; font-weight: bold; color: #444;">Comment on this video:</div>
                <form name="comment_form" id="comment_form" method="post" action="add_comment.php" target="invisible"
                      onsubmit="return CommentHandler();">
                    <input type="hidden" name="video_id" value="{{ video.video_id }}">
                    <textarea name="comment" cols="55" rows="3"></textarea>
                    <br>
                    <input type="submit" name="comment_button" value="Add Comment">
                </form>
                <br>
                <div class="commentsTitle">Comments ({{ video.comments }}):</div>
                {% for comment in comments %}
                    <div class="commentsEntry">"{{ comment.comment }}"<br> - <a
                                href="profile.php?user={{ comment.u_name }}">{{ comment.u_name }}</a> // <a
                                href="profile_videos.php?user={{ comment.u_name }}">Videos</a> ({{ comment.allVideos }})
                        | <a href="profile_favorites.php?user={{ comment.u_name }}">Favorites</a>
                        ({{ comment.allFavorites }}) - ({{ comment.date | relative_time(false) }})
                    </div>
                {% endfor %}
            </td>
            <td width="280">
                <table width="280" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#CCCCCC">
                    <tbody>
                    <tr>
                        <td><img src="img/box_login_tl.gif" width="5" height="5"></td>
                        <td><img src="img/pixel.gif" width="1" height="5"></td>
                        <td><img src="img/box_login_tr.gif" width="5" height="5"></td>
                    </tr>
                    <tr>
                        <td><img src="img/pixel.gif" width="5" height="1"></td>
                        <td width="270">
                            <div class="moduleTitleBar">
                                <table width="270" cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                    <tr valign="top">
                                        <td>
                                            <div class="moduleFrameBarTitle">Tag
                                                // {% for tag in tags %}{{ tag.name }} {% endfor %}
                                                ({{ recommendedNumber }})
                                            </div>
                                        </td>
                                        <td align="right">
                                            <div style="font-size: 11px; margin-right: 5px;"><a
                                                        href="results.php?&amp;search={% for tag in tags %}{{ tag.name }}+{% endfor %}"
                                                        target="_parent">See more Results</a></div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <iframe id="side_results" name="side_results"
                                    src="include_results.php?v={{ video.video_id }}&amp;search={% for tag in tags %}{{ tag.name ~ "+" }}{% endfor %}#selected"
                                    scrolling="auto" width="270" height="400" frameborder="0" marginheight="0"
                                    marginwidth="0">
                                [Content for browsers that don't support iframes goes here]
                            </iframe>
                        </td>
                        <td><img src="img/pixel.gif" width="5" height="1"></td>
                    </tr>
                    <tr>
                        <td><img src="img/box_login_bl.gif" width="5" height="5"></td>
                        <td><img src="img/pixel.gif" width="1" height="5"></td>
                        <td><img src="img/box_login_br.gif" width="5" height="5"></td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <div style="font-weight: bold; color: #333; margin: 10px 0px 5px 0px;">Related tags:</div>
				{% for tag in relatedTags %}
                <div style="padding: 0px 0px 5px 0px; color: #999;">» <a href="results.php?search={{ tag.name }}">{{ tag.name }}</a>
                </div>
				{% endfor %}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
